body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.exports {
  margin: auto !important;
  background-color: #22303a !important;
  color: #ffffff !important;
  width: 150px !important;
  text-transform: uppercase;
  margin: 0 auto !important;
  display: block!important;
}

.margin-tb-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
